<md-nav-list>
  <h3 md-subheader>Sin Analizar</h3>
  <md-list-item *ngFor="let pedido of (pedidos_modelo | estadomaximo:2 )" (click)="onSelect(pedido)">
    <img md-list-avatar class="avatarx2" [src]="pedido.get('pedidoThumbnail')" alt="...">
    <h3 md-line> {{pedido.get('pedidoTipo').get('nombre')}} - {{pedido.get('pedidoEstado').get('nombre')}}</h3>
    <p md-line>{{pedido.get('createdAt') | amCalendar}} </p>
    <p md-line></p>
    <p md-line></p>  
  </md-list-item>
  <md-divider></md-divider>

  <h3 md-subheader>Analizados</h3>
  <md-list-item *ngFor="let pedido of ( pedidos_modelo | analizados )" (click)="onSelect(pedido)">
    <img md-list-avatar class="avatarx2" [src]="pedido.get('pedidoThumbnail')" alt="...">
    <h3 md-line> {{pedido.get('pedidoTipo').get('nombre')}} - {{pedido.get('pedidoEstado').get('nombre')}}</h3>
    <p md-line>{{pedido.get('createdAt') | amCalendar}} </p>
    <p md-line></p>
    <p md-line></p>  
  </md-list-item>
</md-nav-list>