<div >
   <img src="{{logo}}" class="logo-sidebar" >
</div>

<md-list>
  <md-list-item >
    <button md-button [routerLink]="['dashboard']" [routerLinkActive]="['elemento-sidenav-activado']">Inbox</button>
  </md-list-item>
  <!--
  <md-list-item >
    <button md-button [routerLink]="['profile']" [routerLinkActive]="['elemento-sidenav-activado']">Tu Cuenta</button>
  </md-list-item>
  <md-list-item >
    <button md-button [routerLink]="['uploadvideo']" [routerLinkActive]="['elemento-sidenav-activado']">Subir Analisis</button>
  </md-list-item>
  -->
</md-list>
