<div>

  <!-- TUS VIDEOS -->
    
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Videos de: {{pedido?.get('pedidoUser').get('username')}}  - {{pedido?.get('pedidoUser').get('nombre')}}</md-card-title>
          <md-card-subtitle>Tipo: {{pedido?.get('pedidoTipo').get('nombre')}}</md-card-subtitle>
        </md-card-header>
        <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
        <div fxLayout="column" >
          <div class="video-1" fxFlex>
            <!-- VIDEO-1 -->
            <vg-player>
                <video #media1
                      [vgMaster]="true"
                      [vgMedia]="media1"
                      [vgHls]="vghls1"
                      [vgDash]="vgdash1"
                      id="TuVideo1"
                      preload="auto"
                      controls
                      crossorigin>
                </video>
            </vg-player>
            <!-- FIN VIDEO-1 -->
          </div>  
          <div class="video-2" fxFlex>
            <!-- VIDEO-2 -->  
            <vg-player>
                <video #media2
                      [vgMedia]="media2"
                      [vgHls]="vghls2"
                      [vgDash]="vgdash2"
                      id="TuVideo2"
                      preload="auto"
                      controls
                      crossorigin>
                </video>
            </vg-player>
          
            <!-- FIN VIDEO-2 -->
          </div>  
        </div>
        <md-card-content fxLayout="column">
          <p fxFlex>
            subido: {{pedido?.get('createdAt') | amCalendar}}
          </p>  
          <p fxFlex>
            Observaciones: {{pedido?.get('Observaciones')}}
          </p>
        </md-card-content>
        <md-card-actions>
          
          <a [href]="vgmp41" fxFlex md-raised-button class="mat-accent" padding>Descargar Video 1</a>
          <a [href]="vgmp42" fxFlex md-raised-button class="mat-accent" padding>Descargar Video 2</a>
          
        </md-card-actions>
      </md-card>
    


  
  <!-- TU ANALISIS -->
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Tu Analisis - {{pedido?.get('pedidoEstado').get('nombre')}} </md-card-title>
      <md-card-subtitle>{{pedido?.get('pedidoTipo').get('nombre')}}</md-card-subtitle>
    </md-card-header>
    <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
    <div class="">
      <vg-player>
          <video #mediaanalisis
                [vgMedia]="mediaanalisis"
                [vgHls]="vghls_analisis"
                [vgDash]="vgdash_analisis"
                id="TuAnalisis"
                controls
                crossorigin>
          </video>
      </vg-player>
    </div> 
    <md-card-content fxLayout="column">
      <p fxFlex>
        Disponible desde: {{analisis? (analisis.get('createdAt') | amCalendar) : '' }}
      </p>  
      <p fxFlex>
        Comentarios: {{analisis? (analisis.get('Observaciones')) : ''}}
      </p>
      <md-select [placeholder]="selectedValue.nombre" [(ngModel)]="selectedValue" name="estadopedido" (change)="onChange($event)" fxFlex required >
        <md-option *ngFor="let estadopedido of estadospedidos" [value]="estadopedido.id" >
          {{estadopedido?.nombre}}
        </md-option>
      </md-select>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button class="mat-accent" (click)="gotoUpload(pedido?.id)" mdTooltip="Subir Analisis" mdTooltipPosition="above">
        <md-icon>cloud_upload</md-icon>
      </button>
    </md-card-actions>
  </md-card>

</div>  
