.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  width: 100%px;
}

.example-header-image {
  /* background-image: url('assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
