<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <title>XoT Analisis de Videos</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel='stylesheet' href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../bower_components/angular-vidbg/dist/vidBg.css">
      <link rel="stylesheet" href="css/style.css">

</head>

<body ng-app="MyApp" ng-cloak>

<div layout="row"  md-colors="{background: 'grey-200'}">

    <!-- BANDA LEFT -->
    <div layout="column" flex="15" layout-fill >
        <div flex="">
            <span></span>
        </div>
    </div>

    <!-- BANDA CENTRAL -->
    <!--<div  ng-app="MyApp" flex="90" layout-fill ng-controller="AppCtrl" layout="column"  ng-cloak="" class="sidenavdemoBasicUsage"  md-theme="{{ dynamicTheme }}" md-theme-watch> -->
    <div   flex="70" layout-fill ng-controller="AppCtrl" layout="column"  >
        <div layout="column" flex="" class="layout-fill">
    <!-- TOOLBAR -->
            <div class="md-primary md-hue-2" layout="row" flex>
                <md-toolbar md-whiteframe="8" layout="row" class="md-primary" flex="" >

                        <div class="md-toolbar-tools"  md-colors="{background: 'grey-900'}" flex="15" layout="column" layout-align="center center" layout-fill>

                                <img src="./img/LOGO_SVG-01_amarillo.svg" height="64px" class="logo-sidebar" >

                        </div>
                        <div flex="45" >
                            <span></span>
                        </div>

                        <div  class="md-toolbar-tools" flex="40">
                            <div layout="row" layout-aling="end center" >
                                <md-button flex="20" >Blog</md-button>
                                <md-button flex="40" >Contacto</md-button>
                                <!-- <md-button class="md-warn md-hue-5 md-raised" >Alta</md-button> -->
                                <md-button  flex="15" href="/app" class="md-raised" md-colors="{background: 'orange-500'}">Entra</md-button>
                           </div>
                        </div>
                </md-toolbar>
            </div>
    <!-- FIN TOOLBAR -->

    <!-- INICIO MAIN  -->
        <main layout="row" class="layout-fill">
            <!-- INICIO SECCION LEFT -->
            <!--
            <section layout="column" flex="" class="layout-fill">

            </section> -->
            <!-- FIN SECCION LEFT -->

            <!-- INICIO SECCION CENTRAL -->
            <section layout="column" flex=""  layout-fill>

    <!-- INICION CONTENIDO -->
             <!--   <div  layout="column"  layout-align="top center" md-colors="{background: 'grey-900'}"> -->

                    <!-- BLOQUE VIDEO -->
                    <md-content flex="33" layout="column"   layout-align="top left" >

                        <vid-bg style="opacity: 0.40;" resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay">
                        </vid-bg>

                        <div layout="row" style="z-index: 1; top: 0%; position: absolute; font-size: 16px; " layout-fill>
                            <div flex="15" ></div>
                            <div class=" md-whiteframe-0dp flex-15"  layout="column" hide-xs="">
                                <div class=" md-whiteframe-16dp" md-colors="{background: 'accent-500'}" flex="25">
                                    <p class="md-display-1 md-padding">  <img src="./img/LOGO_SVG-01_negro.svg" width="150px" class="logo-front" > </p>
                                </div>
                                <div flex="25">
                                    <!-- <hr> -->
                                   <!-- <p class="md-display-1 ">EMPIEZA A MEJORAR TU JUEGO</p> -->
                                    <p> <img src="./img/Empieza-01.svg" width="200px" class="logo-front" > </p>
                                    <!-- <hr> -->
                                </div>
                            </div>
                            <div flex></div>
                        </div>

                    </md-content>
                   <!--  FIN BLOQUE VIDEO -->


                    <!-- BLOQUE CONTENT -->

                    <md-content flex="5" layout="column" layout-fill  layout-align="top center">
                        <!--
                        <div flex="" style="z-index: 2; overflow-y:visible;" >
                            <img src="./img/Banneramarillo-01.jpg"  class="logo-front" style="z-index: 999; width: 120%; height: 120%; " flex="">
                        </div>
                        -->
                        <div flex="" layout="column" layout-align="center center" layout-fill class="banneramarillo" >
                            <!--<img src="./img/Banneramarillo-01.jpg"  class="logo-front" flex="">-->
                            <div flex="">
                                <p>
                                    <span> </span>
                                </p>
                            </div>
                            <div flex="" layaout-fill layout-align="center center" md-colors="{color: 'grey-900'}">
                                <p class="texto_banneramarillo"> Las metas son sueños</p>
                                <p class="texto_banneramarillo"> con fecha de entrega</p>
                                <p class="md-headline"> mejora dia a dia con nuestros videos, cursos y ejercicios</p>
                                <p class="md-headline"> preparados por profesionales especificamente para ti.</p>

                            </div>
                        </div>
                    </md-content>
                    <!-- FIN BLOQUE CONTENT -->

                    <!-- BLOQUE CONTENT -->
                    <md-content flex="20" layout="row" layout-fill  layout-align="top center"  >
                        <section layout="column" layout-sm="column" layout-align="center center" layout-fill>
                            <div flex >
                                <img du-parallax y="background"  src="maxresdefault.jpg"  style="position: relative; z-index: 0; //margin: -10% 0; max-width: 100%;"/>

                            </div>
                        </section>
                    </md-content>
                    <!-- FIN BLOQUE CONTENT -->

                    <!-- BLOQUE CONTENT 3 ETAPAS-->
                    <md-content flex="20" layout="row" layout-fill  layout-align="top center"  >
                        <section layout="row" layout-xs="column" layout-align="space-around stretch" layout-fill>
                                <!-- BLOQUE GRABA -->
                                <md-card md-colors="{background: 'accent-500'}" flex-gt-xs="33" flex-xs-grow="" layout="column" layout-align="top center">
                                    <md-icon md-svg-icon="av:videocam" style="color: black;width:33%;height:33%;" flex="33"></md-icon>
                                    <md-card-content layout="column" layout-align="top center" flex="66" >
                                        <h2 flex="33" >Haz un video </h2>
                                        <md-list flex="66">
                                            <md-item>
                                                <md-item-content>
                                                    <!--
                                                    <div class="md-tile-left inset">
                                                    </div> -->
                                                    <div class="md-tile-content">
                                                        <!--
                                                        <h3> Titulo</h3>
                                                        <h4> subTitulo</h4> -->
                                                        <p> Realiza un video ejecutanto el golpe que quieres que analicemos, puedes usar el movil</p>
                                                    </div>
                                                </md-item-content>
                                                <md-divider md-inset></md-divider>
                                            </md-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card>
                                <!-- BLOQUE SUBE -->
                                <md-card md-colors="{background: 'accent-500'}" flex-gt-xs="33" flex-xs-grow="" layout="column" layout-align="top center">
                                    <md-icon md-svg-icon="file:cloud_upload" style="color: black;width:33%;height:33%;" flex="33"></md-icon>
                                    <md-card-content layout="column" layout-align="top center" flex="66" >
                                        <h2 flex="33">Sube el video a tu cuenta</h2>
                                        <md-list flex="66">
                                            <md-item>
                                                <md-item-content>
                                                    <!--
                                                    <div class="md-tile-left inset">
                                                    </div> -->
                                                    <div class="md-tile-content">
                                                        <!--
                                                        <h3> Titulo</h3>
                                                        <h4> subTitulo</h4> -->
                                                        <p> Sube el video para que nuestros expertos en padel y biomecanica realicen el analisis (puede tardar varios dias) </p>
                                                    </div>
                                                </md-item-content>
                                                <md-divider md-inset></md-divider>
                                            </md-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card>
                                <!-- BLOQUE RECIBE -->
                                <md-card md-colors="{background: 'accent-500'}" flex-gt-xs="33" flex-xs-grow="" layout="column" layout-align="top center">
                                    <md-icon md-svg-icon="content:move_to_inbox" style="color: black;width:33%;height:33%;" flex="33"></md-icon>
                                    <md-card-content layout="column" layout-align="top center" flex="66" >
                                        <h2 flex="33">Recibe el analisis </h2>
                                        <md-list flex="66">
                                            <md-item>
                                                <md-item-content>
                                                    <!--
                                                    <div class="md-tile-left inset">
                                                    </div> -->
                                                    <div class="md-tile-content">
                                                        <!--
                                                        <h3> Titulo</h3>
                                                        <h4> subTitulo</h4> -->
                                                        <p> Recibiras un email cuando tengas disponible el informe biomecanico y las recomendaciones para que mejores la ejecucion del golpe</p>
                                                    </div>
                                                </md-item-content>
                                                <md-divider md-inset></md-divider>
                                            </md-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card>

                        </section>
                    </md-content>
                    <!-- FIN BLOQUE CONTENT 3 ETAPAS -->


                    <!-- BLOQUE CONTENT -->
                    <md-content flex="20" layout="row" layout-fill  layout-align="top center"  >
                        <section layout="column" layout-sm="column" layout-align="center center" layout-fill>
                            <div flex >
                                <img src="cepero_dieciseisavos.jpg" class="md-card-image"  du-parallax y="background" style="position: relative; z-index: 0; //margin: -10% 0; max-width: 100%;" >

                            </div>
                        </section>
                    </md-content>
                    <!-- FIN BLOQUE CONTENT -->

                    <!-- BLOQUE CONTENT -->
                    <md-content flex="5" layout="row" layout-fill  layout-align="top center" md-colors="{background: 'accent-500'}"  >
                        <section layout="row" layout-sm="column" layout-align="center stretch" layout-fill>
                            <div flex >
                                <md-card flex >
                                    <md-card-content layout="column" layout-align="top center" >
                                        <h2>Todos podemos mejorar. Solo nos falta saber como</h2>
                                        <md-list>
                                            <md-item>
                                                <md-item-content>
                                                    <div class="md-tile-content">
                                                        <h3> Usa las mismas herramientas que los profesionales</h3>
                                                        <h4> Porque tu tambien puedes.</h4>
                                                        <p> Nuestros tecnicos en padel y biomecanica te guiaran para perfeccionar tu tecnica y hace de ti un mejor jugador de padel.</p>
                                                    </div>
                                                </md-item-content>
                                                <md-divider md-inset></md-divider>
                                            </md-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </section>
                    </md-content>
                    <!-- FIN BLOQUE CONTENT -->

                    <!-- BLOQUE CONTENT -->
                    <md-content flex layout="row" layout-fill  layout-align="top center"  >
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                            <div>
                                <!--
                                <md-card >
                                    <img src="background3.jpg" class="md-card-image" alt="Washed Out">
                                    <md-card-content  >
                                        <h2>Prueba de md-card</h2>
                                        <md-list>
                                            <md-item>
                                                <md-item-content>
                                                    <div class="md-tile-left inset">

                                                    </div>
                                                    <div class="md-tile-content">
                                                        <h3> Titulo</h3>
                                                        <h4> subTitulo</h4>
                                                        <p> Descripcion</p>
                                                    </div>
                                                </md-item-content>
                                                <md-divider md-inset></md-divider>
                                            </md-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card> -->
                            </div>
                        </section>
                    </md-content>
                    <!-- FIN BLOQUE CONTENT -->
                    <div flex=""></div>

               <!-- </div> -->

    <!-- FIN CONTENIDO -->

           </section >
            <!-- FIN SECCION CENTRAL -->


            <!-- INICIO SECCION RIGHT -->
            <!--
            <section layout="column" flex=""  class="layout-fill">

            </section> -->
            <!-- FIN SECCION RIGHT -->
         </main>
    <!-- FIN MAIN -->
        </div>
    </div>


    <!-- BANDA RIGHT -->
    <div layout="column" flex="15" layout-fill >
        <div flex="">
            <span></span>
        </div>
    </div>

</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>

<!-- Angular Material Library -->
<script src="../bower_components/angular-material/angular-material.min.js"></script>

<script type="text/javascript" src="../bower_components/angular-vidbg/dist/vidBg.min.js"></script>
<!-- <script type="text/javascript" src="../bower_components/ng-simple-parallax/src/ngParallax.min.js"></script> -->
<!--<script type='text/javascript' src='../bower_components/angular-parallax/scripts/angular-parallax.js'></script> -->

<script type='text/javascript' src='../bower_components/angular-scroll/angular-scroll.min.js'></script>

<script type='text/javascript' src='../bower_components/ng-parallax/angular-parallax.min.js'></script>



<script src="js/index.js"></script>

</body>
</html>
