<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <title>XoT Analisis de Videos</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel='stylesheet' href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../bower_components/angular-vidbg/dist/vidBg.css">
      <link rel="stylesheet" href="css/style.css">

</head>

<body>
<div  ng-app="MyApp" ng-controller="AppCtrl" layout="column"  ng-cloak="" class="sidenavdemoBasicUsage"  md-theme="{{ dynamicTheme }}" md-theme-watch>

    <div layout="column" flex="" class="layout-fill">

<!-- TOOLBAR -->
        <div class="md-primary md-hue-2" layout="row" flex>
            <md-toolbar md-whiteframe="8" layout="row" class="md-primary" flex>

                    <div class="md-toolbar-tools"  md-colors="{background: 'grey-900'}" flex="20">
                        <div >
                            <img src="./img/Xot-gris-01.jpg" class="logo-sidebar" >
                        </div>
                    </div>
                    <div flex ><span> </span> </div>
                    <!--
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button " aria-label="Settings">
                            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                        </md-button>
                        <md-button ng-click="dynamicTheme = 'default'">Default</md-button>
                        <md-button ng-click="dynamicTheme = 'altTheme'">altTheme</md-button>
                    </div>
                    -->
                    <!--<h1 class="md-toolbar-tools">Header</h1>-->
                    <div  class="md-toolbar-tools" flex="50">
                        <div layout="row" style="layout-aling: end center;"></div>
                            <md-button >Blog</md-button>
                            <md-button >Contacto</md-button>
                            <!-- <md-button class="md-warn md-hue-5 md-raised" >Alta</md-button> -->
                            <md-button href="/app" class="md-raised" md-colors="{background: 'orange-500'}">Entra</md-button>
                       </div>
                    </div>

            </md-toolbar>
        </div>
<!-- FIN TOOLBAR -->

<!-- INICIO SECCION  -->
        <section layout="column" flex="">

<!-- SIDENAV IZQUIERDO -->
            <!--
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
            <!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">-->
            <!--
                <md-toolbar class="md-accent">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding="" ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                        Close Sidenav Left
                    </md-button>

                    <p hide-md="" show-gt-md="">
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>

            </md-sidenav>
            -->
<!-- FIN SIDENAV IZQUIERDO -->


<!-- INICION CONTENIDO -->
            <div  layout="column"  layout-align="top center" md-colors="{background: 'grey-900'}">

                <!-- BLOQUE VIDEO -->
                <md-content flex="33" layout="column"   layout-align="top left" >
                   <!-- <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg> -->
                    <vid-bg style="opacity: 0.40;" resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay">
                    </vid-bg>
                    <!--
                    <div class=" md-whiteframe-16dp"  style="z-index: 1; top: 45%;  left: center; position: absolute; border-radius: 5px;
  font-size: 16px; " md-colors="{background: 'accent-500'}"  hide-xs="">
                          <p class="md-display-1 md-padding">MEJORA TU TECNICA Y EMPIEZA A GANAR</p>
                    </div>
                    -->
                    <div layout="row" style="z-index: 1; top: 0%; position: absolute; font-size: 16px; " layout-fill>
                        <div flex="20" ></div>
                        <div class=" md-whiteframe-0dp flex-15"  layout="column" hide-xs="">
                            <div class=" md-whiteframe-16dp" md-colors="{background: 'accent-500'}" flex="25">
                                <p class="md-display-1 md-padding">  <img src="./img/XOT-blanco-01.png" class="logo-front" > </p>
                            </div>
                            <div flex="25">
                                <hr>
                                <p class="md-display-1 ">EMPIEZA A MEJORAR TU JUEGO</p>
                                <hr>
                            </div>
                        </div>
                        <div flex></div>
                    </div>

                </md-content>
                <!-- FIN BLOQUE VIDEO -->


                <!-- BLOQUE CONTENT -->
                <md-content flex="5" layout="column" layout-fill  layout-align="top center">
                    <section layout="row" layout-sm="column" layout-align="center center" layout-fill md-colors="{background: 'accent-500'}">
                        <md-card>
                            <md-card-content layout-align="center center" >
                                <h1>Descubre que necesitas para mejorar tu tecnica y gana mas partidos</h1>
                            </md-card-content>
                        </md-card>
                    </section>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT -->
                <md-content flex="20" layout="row" layout-fill  layout-align="top center"  >
                    <section layout="column" layout-sm="column" layout-align="center center" layout-fill>
                        <div flex >
                            <img du-parallax y="background"  src="maxresdefault.jpg"  style="position: relative; z-index: 0; //margin: -10% 0; max-width: 100%;"/>
                            <!-- <md-card layout-fill>
                                <img src="background3.jpg" class="md-card-image" alt="Washed Out"> -->
                               <!--
                                <div ng-parallax pattern="'background3.jpg'" speed="1" reverse="false" flex="grow">
                                    <span flex="grow">
                                        <p>ESTO ES PARALLAX</p>
                                    </span>
                                </div>
                                -->
                                <!--
                                <md-card-content  >
                                    <h2>Prueba de md-card</h2>
                                    <md-list>
                                        <md-item>
                                            <md-item-content>
                                                <div class="md-tile-left inset">

                                                </div>
                                                <div class="md-tile-content">
                                                    <h3> Titulo</h3>
                                                    <h4> subTitulo</h4>
                                                    <p> Descripcion</p>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset></md-divider>
                                        </md-item>
                                    </md-list>
                                </md-card-content>

                            </md-card>  -->
                        </div>
                    </section>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT 3 ETAPAS-->
                <md-content flex="20" layout="row" layout-fill  layout-align="top center"  >
                    <section layout="row" layout-xs="column" layout-align="space-around stretch" layout-fill>
                            <!-- BLOQUE GRABA -->
                            <md-card md-colors="{background: 'accent-500'}" flex-gt-xs="33" flex-xs-grow="" layout="column" layout-align="top center">
                                <md-icon md-svg-icon="av:videocam" style="color: black;width:33%;height:33%;" flex="33"></md-icon>
                                <md-card-content layout="column" layout-align="top center" flex="66" >
                                    <h2 flex="33" >Haz un video </h2>
                                    <md-list flex="66">
                                        <md-item>
                                            <md-item-content>
                                                <!--
                                                <div class="md-tile-left inset">
                                                </div> -->
                                                <div class="md-tile-content">
                                                    <!--
                                                    <h3> Titulo</h3>
                                                    <h4> subTitulo</h4> -->
                                                    <p> Realiza un video ejecutanto el golpe que quieres que analicemos, puedes usar el movil</p>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset></md-divider>
                                        </md-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                            <!-- BLOQUE SUBE -->
                            <md-card md-colors="{background: 'accent-500'}" flex-gt-xs="33" flex-xs-grow="" layout="column" layout-align="top center">
                                <md-icon md-svg-icon="file:cloud_upload" style="color: black;width:33%;height:33%;" flex="33"></md-icon>
                                <md-card-content layout="column" layout-align="top center" flex="66" >
                                    <h2 flex="33">Sube el video a tu cuenta</h2>
                                    <md-list flex="66">
                                        <md-item>
                                            <md-item-content>
                                                <!--
                                                <div class="md-tile-left inset">
                                                </div> -->
                                                <div class="md-tile-content">
                                                    <!--
                                                    <h3> Titulo</h3>
                                                    <h4> subTitulo</h4> -->
                                                    <p> Sube el video para que nuestros expertos en padel y biomecanica realicen el analisis (puede tardar varios dias) </p>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset></md-divider>
                                        </md-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                            <!-- BLOQUE RECIBE -->
                            <md-card md-colors="{background: 'accent-500'}" flex-gt-xs="33" flex-xs-grow="" layout="column" layout-align="top center">
                                <md-icon md-svg-icon="content:move_to_inbox" style="color: black;width:33%;height:33%;" flex="33"></md-icon>
                                <md-card-content layout="column" layout-align="top center" flex="66" >
                                    <h2 flex="33">Recibe el analisis </h2>
                                    <md-list flex="66">
                                        <md-item>
                                            <md-item-content>
                                                <!--
                                                <div class="md-tile-left inset">
                                                </div> -->
                                                <div class="md-tile-content">
                                                    <!--
                                                    <h3> Titulo</h3>
                                                    <h4> subTitulo</h4> -->
                                                    <p> Recibiras un email cuando tengas disponible el informe biomecanico y las recomendaciones para que mejores la ejecucion del golpe</p>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset></md-divider>
                                        </md-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>

                    </section>
                </md-content>
                <!-- FIN BLOQUE CONTENT 3 ETAPAS -->


                <!-- BLOQUE CONTENT -->
                <md-content flex="20" layout="row" layout-fill  layout-align="top center"  >
                    <section layout="column" layout-sm="column" layout-align="center center" layout-fill>
                        <div flex >
                            <img src="cepero_dieciseisavos.jpg" class="md-card-image"  du-parallax y="background" style="position: relative; z-index: 0; //margin: -10% 0; max-width: 100%;" >
                            <!-- <md-card layout-fill>
                                <img src="background3.jpg" class="md-card-image" alt="Washed Out"> -->
                            <!--
                             <div ng-parallax pattern="'background3.jpg'" speed="1" reverse="false" flex="grow">
                                 <span flex="grow">
                                     <p>ESTO ES PARALLAX</p>
                                 </span>
                             </div>
                             -->
                            <!--
                            <md-card-content  >
                                <h2>Prueba de md-card</h2>
                                <md-list>
                                    <md-item>
                                        <md-item-content>
                                            <div class="md-tile-left inset">

                                            </div>
                                            <div class="md-tile-content">
                                                <h3> Titulo</h3>
                                                <h4> subTitulo</h4>
                                                <p> Descripcion</p>
                                            </div>
                                        </md-item-content>
                                        <md-divider md-inset></md-divider>
                                    </md-item>
                                </md-list>
                            </md-card-content>

                        </md-card>  -->
                        </div>
                    </section>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT -->
                <md-content flex="5" layout="row" layout-fill  layout-align="top center" md-colors="{background: 'accent-500'}"  >
                    <section layout="row" layout-sm="column" layout-align="center stretch" layout-fill>
                        <div flex >
                            <md-card flex >
                                <md-card-content layout="column" layout-align="top center" >
                                    <h2>Todos podemos mejorar. Solo nos falta saber como</h2>
                                    <md-list>
                                        <md-item>
                                            <md-item-content>
                                                <div class="md-tile-content">
                                                    <h3> Usa las mismas herramientas que los profesionales</h3>
                                                    <h4> Porque tu tambien puedes.</h4>
                                                    <p> Nuestros tecnicos en padel y biomecanica te guiaran para perfeccionar tu tecnica y hace de ti un mejor jugador de padel.</p>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset></md-divider>
                                        </md-item>
                                    </md-list>
                                </md-card-content>
                            </md-card>
                        </div>
                    </section>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT -->
                <md-content flex layout="row" layout-fill  layout-align="top center"  >
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <div>
                            <!--
                            <md-card >
                                <img src="background3.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-content  >
                                    <h2>Prueba de md-card</h2>
                                    <md-list>
                                        <md-item>
                                            <md-item-content>
                                                <div class="md-tile-left inset">

                                                </div>
                                                <div class="md-tile-content">
                                                    <h3> Titulo</h3>
                                                    <h4> subTitulo</h4>
                                                    <p> Descripcion</p>
                                                </div>
                                            </md-item-content>
                                            <md-divider md-inset></md-divider>
                                        </md-item>
                                    </md-list>
                                </md-card-content>
                            </md-card> -->
                        </div>
                    </section>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->
                <div flex=""></div>

            </div>

<!-- FIN CONTENIDO -->

<!-- SIDENAV DERECHO -->
            <!--
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding="">
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput" ng-model="data" md-autofocus="">
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>

            </md-sidenav>
            -->
<!-- FIN SIDENAV DERECHO -->

       </section>
<!-- FIN SECCION -->

    </div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
<!-- Angular Material requires Angular.js Libraries -->
<!--
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
-->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>

<!-- Angular Material Library -->
<script src="../bower_components/angular-material/angular-material.min.js"></script>

<script type="text/javascript" src="../bower_components/angular-vidbg/dist/vidBg.min.js"></script>
<!-- <script type="text/javascript" src="../bower_components/ng-simple-parallax/src/ngParallax.min.js"></script> -->
<!--<script type='text/javascript' src='../bower_components/angular-parallax/scripts/angular-parallax.js'></script> -->

<script type='text/javascript' src='../bower_components/angular-scroll/angular-scroll.min.js'></script>

<script type='text/javascript' src='../bower_components/ng-parallax/angular-parallax.min.js'></script>



<script src="js/index.js"></script>

</body>
</html>
