<!DOCTYPE html>
<html  ng-app="MyApp" ng-cloak="" >
<head>
  <meta charset="UTF-8">
  <title>XoT Analisis de Videos</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel='stylesheet' href="../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../bower_components/angular-vidbg/dist/vidBg.css">
      <link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="AppCtrl"  >

<div layout="row" layout-align="start stretch" layout-fill md-colors="{background: 'grey-200'}">

    <!-- BANDA LEFT -->
    <div layout="column" flex="15" layout-fill >
        <div flex="100">
            <span></span>
        </div>
    </div>

    <!-- BANDA CENTRAL -->
    <!--<div  ng-app="MyApp" flex="90" layout-fill ng-controller="AppCtrl" layout="column"  ng-cloak="" class="sidenavdemoBasicUsage"  md-theme="{{ dynamicTheme }}" md-theme-watch> -->
    <div   layout="column" layout-align="start stretch" layout-fill flex="" >

            <!-- TOOLBAR -->



                <header class="md-primary md-hue-2" layout="row" flex="">
                    <md-toolbar md-whiteframe="8" layout="row" class="md-primary" flex="" >

                            <div md-colors="{background: 'grey-900'}" flex="15">
                                <div layout="row" layout-fill layout-align="center center" >
                                    <img src="./img/LOGO_SVG-01_amarillo.svg" height="64px" class="logo-sidebar" md-colors="{background: 'grey-900'}" flex="" >
                                </div>
                            </div>

                            <div flex="45" >
                                <p></p>
                            </div>

                            <div  class="md-toolbar-tools" flex="40">
                                <div layout="row" layout-aling="end center"  flex="">
                                    <md-button ><span flex="20" > Blog </span> </md-button>
                                    <md-button ><span flex="40"> Contacto </span></md-button>
                                    <!-- <md-button href="/app" class="md-warn md-hue-5 md-raised" >Alta</md-button> -->

                                    <md-button href="/app" md-colors="{background: 'orange-500'}">
                                        <p flex="15" style=" text-align:center; " >
                                            <p style=" margin: auto;">Entra</p>
                                        </p>
                                    </md-button>
                               </div>
                            </div>
                    </md-toolbar>
                </header>

            <!-- FIN TOOLBAR -->

            <!-- INICIO MAIN  -->
                <md-content layout="row" flex="100" layout-align="start start"  layout-wrap>
                    <!-- INICIO SECCION LEFT -->
                    <!--
                    <section layout="column" flex="" class="layout-fill">

                    </section> -->
                    <!-- FIN SECCION LEFT -->

                    <!-- INICIO SECCION CENTRAL -->
                    <!-- <section layout="column" flex="100"  layout-align="center stretch"  > --

            <!-- INICION CONTENIDO -->
                     <!--   <div  layout="column"  layout-align="top center" md-colors="{background: 'grey-900'}"> -->

                            <!-- BLOQUE VIDEO -->
                            <!--<md-content flex="33" layout="column"   layout-align="top left" > -->
                            <article flex="100" layout="column" >

                                <vid-bg style="opacity: 0.40;" resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay">
                                </vid-bg>

                                <div layout="row" style="z-index: 1; top: 0%; position: absolute; font-size: 16px; " layout-align="start start" layout-fill>
                                    <div flex="15" > <p> </p></div>
                                    <div class=" md-whiteframe-0dp flex-15"  layout="column" hide-xs="" layout-fill>
                                        <div class=" md-whiteframe-16dp" md-colors="{background: 'accent-500'}" flex="25">
                                            <p class="md-display-1 md-padding">  <img src="./img/LOGO_SVG-01_negro.svg" width="150px" class="logo-front " > </p>
                                        </div>
                                        <div flex="25">
                                            <!-- <hr> -->
                                           <!-- <p class="md-display-1 ">EMPIEZA A MEJORAR TU JUEGO</p> -->
                                            <p> <img src="./img/Empieza-01.svg" width="200px" class="frase-front" > </p>
                                            <!-- <hr> -->
                                        </div>
                                    </div>
                                    <div flex=""></div>
                                </div>

                            </article>
                           <!--  FIN BLOQUE VIDEO -->


                            <!-- BLOQUE CONTENT -->

                            <article  flex="100" layout="row" layout-align="start stretch" style="z-index: 1 !important;">
                                    <div  flex="100" class="banner-amarillo-container centeredText" layout="row" layout-align="start stretch" md-colors="{color: 'grey-900'}" >
                                        <div flex="30">

                                        </div>
                                        <div flex="70">
                                            <p class="texto_banneramarillo"> Las metas son sueños con fecha de entrega</p>
                                            <p class="texto_banneramarillo">  </p>
                                            <p class="md-headline"> mejora dia a dia con nuestros videos, cursos y ejercicios</p>
                                            <p class="md-headline"> preparados por profesionales especificamente para ti.</p>
                                        </div>

                                        <!--
                                        <div class="centeredText" flex="" >
                                            <p class="texto_banneramarillo"> Las metas son sueños con fecha de entrega</p>
                                            <p class="texto_banneramarillo"> </p>
                                            <p class="md-headline"> mejora dia a dia con nuestros videos, cursos y ejercicios</p>
                                            <p class="md-headline"> preparados por profesionales especificamente para ti.</p>
                                        </div>
                                        -->
                                       <!-- <img src="./img/Banneramarillo-01.jpg"  class="banner-amarillo-img"  style="/*opacity: .99;*/"> -->

                                    </div>

                                <!-- </div> -->
                            </article>
                            <!-- FIN BLOQUE CONTENT -->

                            <!-- BLOQUE CONTENT -->
                            <article flex="100" layout="column"   layout-align="start center"  >
                                <!--<section flex="100" layout="column" layout-sm="column" layout-align="center center" >
                                    <div flex="100" > -->
                                        <!-- <img du-parallax y="background"  src="maxresdefault.jpg"  style="position: relative; z-index: 0;  /*margin: -10% 0; max-width: 100%; */"/> -->
                                         <img src="maxresdefault.jpg" flex="">
                                        <!-- <div flex="" ng-parallax pattern="'maxresdefault.jpg'" speed="3" style="background-size: cover !important; width: 100% !important;" >
                                        </div> -->
                               <!-- </div>
                            </section> -->
                        </article>
                        <!-- FIN BLOQUE CONTENT -->

                            <!-- BLOQUE CONTENT 3 ETAPAS-->
                            <article flex="100" layout="row"   layout-align="start stretch"  >
                                <!--<div flex="100" layout="row" layout-xs="column" layout-align="center stretch" style="min-height: 100%;"> -->
                                        <!-- BLOQUE GRABA -->
                                        <div md-colors="{background: 'accent-500'}" flex="33" layout="column" layout-align="center center" class="card_3_etapas " >
                                            <div >
                                                <md-icon  md-svg-icon="av:videocam" class="icon_card_3_etapas"  ></md-icon>
                                            </div>

                                            <div  >
                                                <div   >
                                                    <h2 >Haz un video </h2>
                                                </div>
                                                <div  >
                                                    <p> Realiza un video ejecutanto el golpe que quieres que analicemos, puedes usar el movil</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- BLOQUE SUBE -->
                                        <div md-colors="{background: 'accent-500'}" flex="33" layout="column" layout-align="center center"  class="card_3_etapas ">
                                            <div >
                                                <md-icon  md-svg-icon="file:cloud_upload" class="icon_card_3_etapas" ></md-icon>
                                            </div>
                                            <div >
                                                <div >
                                                    <h2  >Sube el video a tu cuenta</h2>
                                                </div>
                                                            <div>
                                                                <!--
                                                                <h3> Titulo</h3>
                                                                <h4> subTitulo</h4> -->
                                                                <p> Sube el video para que nuestros expertos en padel y biomecanica realicen el analisis (puede tardar varios dias) </p>
                                                            </div>
                                            </div>
                                        </div>
                                        <!-- BLOQUE RECIBE -->
                                        <div md-colors="{background: 'accent-500'}" flex="33" layout="column" layout-align="center center"  class="card_3_etapas ">
                                            <div >
                                                <md-icon  md-svg-icon="content:move_to_inbox" class="icon_card_3_etapas" ></md-icon>
                                            </div>
                                            <div >
                                                <div >
                                                    <h2 >Recibe el analisis </h2>
                                                </div>
                                                            <div >
                                                                <!--
                                                                <h3> Titulo</h3>
                                                                <h4> subTitulo</h4> -->
                                                                <p> Recibiras un email cuando tengas disponible el informe biomecanico y las recomendaciones para que mejores la ejecucion del golpe</p>
                                                            </div>
                                            </div>
                                        </div>

                               <!-- </div> -->
                            </article>
                            <!-- FIN BLOQUE CONTENT 3 ETAPAS -->


                            <!-- BLOQUE CONTENT -->
                            <article flex="100" layout="column"    >
                                    <div flex >
                                       <!-- <img src="cepero_dieciseisavos.jpg" class="md-card-image"  du-parallax y="background" style="position: relative; z-index: 0; /* margin: -10% 0; */ max-width: 100%;" > -->
                                        <img src="cepero_dieciseisavos.jpg" class="md-card-image">
                                        <!-- <div ng-parallax pattern="'cepero_dieciseisavos.jpg'" speed="3"> </div> -->
                                    </div>

                            </article>
                            <!-- FIN BLOQUE CONTENT -->

                            <!-- BLOQUE CONTENT -->
                            <article flex="100" layout="row"  layout-align="center center" md-colors="{background: 'accent-500'}"  >
                                <div layout="row" layout-sm="column" layout-align="center stretch" >
                                    <div flex >
                                        <md-card flex >
                                            <md-card-content layout="column" layout-align="top center" >
                                                <h2>Todos podemos mejorar. Solo nos falta saber como</h2>
                                                <md-list>
                                                    <md-item>
                                                        <md-item-content>
                                                            <div class="md-tile-content">
                                                                <h3> Usa las mismas herramientas que los profesionales</h3>
                                                                <h4> Porque tu tambien puedes.</h4>
                                                                <p> Nuestros tecnicos en padel y biomecanica te guiaran para perfeccionar tu tecnica y hace de ti un mejor jugador de padel.</p>
                                                            </div>
                                                        </md-item-content>
                                                        <md-divider md-inset></md-divider>
                                                    </md-item>
                                                </md-list>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </article>
                            <!-- FIN BLOQUE CONTENT -->

                            <div flex=""></div>

                       <!-- </div> -->

            <!-- FIN CONTENIDO -->

                  <!--  </section >  -->
                    <!-- FIN SECCION CENTRAL -->


                    <!-- INICIO SECCION RIGHT -->
                    <!--
                    <section layout="column" flex=""  class="layout-fill">

                    </section> -->
                    <!-- FIN SECCION RIGHT -->
                 </md-content>
            <!-- FIN MAIN -->


    </div>


    <!-- BANDA RIGHT -->
    <div layout="column" flex="15" layout-fill >
        <div flex="">
            <span></span>
        </div>
    </div>

</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>

<!-- Angular Material Library -->
<script src="../bower_components/angular-material/angular-material.min.js"></script>

<script type="text/javascript" src="../bower_components/angular-vidbg/dist/vidBg.min.js"></script>


<!-- <script type="text/javascript" src="../bower_components/ng-simple-parallax/src/ngParallax.min.js"></script> -->
<!--<script type='text/javascript' src='../bower_components/angular-parallax/scripts/angular-parallax.js'></script> -->


<script type='text/javascript' src='../bower_components/angular-scroll/angular-scroll.min.js'></script>
<script type='text/javascript' src='../bower_components/ng-parallax/angular-parallax.min.js'></script>

<!-- <script type='text/javascript' src='../bower_components/ng-simple-parallax/src/ngParallax.min.js'></script> -->


<script src="js/index.js"></script>

</body>
</html>
