<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Angular Material dark theme</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

  <link rel='stylesheet prefetch' href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="../node_modules/angular-vidbg/dist/vidBg.css">
      <link rel="stylesheet" href="css/style.css">

</head>

<body>
<div ng-controller="AppCtrl" layout="column"  ng-cloak="" class="sidenavdemoBasicUsage" ng-app="MyApp" md-theme="{{ dynamicTheme }}" md-theme-watch>


    <div layout="column" flex="">
<!-- TOOLBAR -->
        <div class="md-primary">
            <md-toolbar md-whiteframe="8" layout="row"  >
                <h1 class="md-toolbar-tools">
                    <md-button class="md-icon-button " aria-label="Settings">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button ng-click="dynamicTheme = 'default'">Default</md-button>
                    <md-button ng-click="dynamicTheme = 'altTheme'">altTheme</md-button>
                </h1>
                <!--<h1 class="md-toolbar-tools">Header</h1>-->
                <md-button >Productos</md-button>
                <md-button >Soporte</md-button>
                <md-button class="md-warn md-hue-5 md-raised" >Alta</md-button>
                <md-button class="md-raised" md-colors="{background: 'blue-500'}">Entra</md-button>
            </md-toolbar>
        </div>
<!-- FIN TOOLBAR -->

<!-- INICIO SECCION  -->
        <section layout="column" flex="">

<!-- SIDENAV IZQUIERDO -->
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">

                <md-toolbar class="md-accent">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding="" ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md="">
                        Close Sidenav Left
                    </md-button>

                    <p hide-md="" show-gt-md="">
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>

            </md-sidenav>
<!-- FIN SIDENAV IZQUIERDO -->


<!-- INICION CONTENIDO -->
            <div  layout="column"  layout-align="top center">

                <!-- BLOQUE VIDEO -->
                <md-content flex layout="column"   layout-align="top center" >
                   <!-- <vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg> -->
                    <vid-bg style="opacity: 0.2;" resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay">
                    </vid-bg>
                    <div   style="z-index: 1; top: 45%;  left: center; position: absolute;  " md-colors="{background: 'warn-900'}">

                          <h1 class="md-display-3">Mejora con la tecnologia</h1>

                    </div>
                </md-content>
                <!-- FIN BLOQUE VIDEO -->


                <!-- BLOQUE CONTENT -->
                <md-content flex layout="column" layout-fill  layout-align="top center">
                    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary md-raised">
                        Toggle right
                    </md-button>
                    <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
                        Toggle left
                    </md-button>

                    <h4>Standard date-picker</h4>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

                    <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
                    <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>

                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised">Button</md-button>
                        <md-button class="md-raised md-primary">Primary</md-button>
                        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
                        <md-button class="md-raised md-warn">Warn</md-button>
                        <div class="label">Raised</div>
                    </section>

                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.
                    </p>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>

                    <div>
                        <md-card md-colors="{background: 'warn-900'}">
                            <md-card-content  >
                                <h1>Mejora con la tecnologia</h1>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div>
                        <div  class="md-raised md-warn">
                            <span > Mejora con la tecnologia</span>
                        </div>
                    </div>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT -->
                <md-content flex layout="row" layout-fill  layout-align="top center"  >

                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised">Button</md-button>
                        <md-button class="md-raised md-primary">Primary</md-button>
                        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
                        <md-button class="md-raised md-warn">Warn</md-button>
                        <div class="label">Raised</div>
                    </section>
                    <div md-colors="{background: 'primary-500'}">
                        <p md-colors="::{background: 'accent-500'}">
                            The left sidenav will 'lock open' on a medium (>=960px wide) device.
                        </p>
                    </div>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>

                    <div>
                        <md-card >
                            <md-card-content  >
                                <h2>Prueba de md-card</h2>
                                <md-list>
                                    <md-item>
                                        <md-item-content>
                                            <div class="md-tile-left inset">

                                            </div>
                                            <div class="md-tile-content">
                                                <h3> Titulo</h3>
                                                <h4> subTitulo</h4>
                                                <p> Descripcion</p>
                                            </div>
                                        </md-item-content>
                                        <md-divider md-inset></md-divider>
                                    </md-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div>
                        <div  class="md-raised md-warn">
                            <span > Mejora con la tecnologia</span>
                        </div>
                    </div>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT -->
                <md-content flex layout="row" layout-fill  layout-align="top center" md-colors="{background: 'accent-500'}"  >

                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised">Button</md-button>
                        <md-button class="md-raised md-primary">Primary</md-button>
                        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
                        <md-button class="md-raised md-warn">Warn</md-button>
                        <div class="label">Raised</div>
                    </section>
                    <div md-colors="{background: 'primary-500'}">
                        <p md-colors="{background: 'accent-500'}">
                            The left sidenav will 'lock open' on a medium (>=960px wide) device.
                        </p>
                    </div>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>

                    <div>
                        <md-card >
                            <md-card-content  >
                                <h2>Prueba de md-card</h2>
                                <md-list>
                                    <md-item>
                                        <md-item-content>
                                            <div class="md-tile-left inset">

                                            </div>
                                            <div class="md-tile-content">
                                                <h3> Titulo</h3>
                                                <h4> subTitulo</h4>
                                                <p> Descripcion</p>
                                            </div>
                                        </md-item-content>
                                        <md-divider md-inset></md-divider>
                                    </md-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div>
                        <div  class="md-raised md-warn">
                            <span > Mejora con la tecnologia</span>
                        </div>
                    </div>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <!-- BLOQUE CONTENT -->
                <md-content flex layout="row" layout-fill  layout-align="top center"  >

                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised">Button</md-button>
                        <md-button class="md-raised md-primary">Primary</md-button>
                        <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
                        <md-button class="md-raised md-warn">Warn</md-button>
                        <div class="label">Raised</div>
                    </section>
                    <div md-colors="{background: 'primary-500'}">
                        <p md-colors="::{background: 'accent-500'}">
                            The left sidenav will 'lock open' on a medium (>=960px wide) device.
                        </p>
                    </div>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>

                    <div>
                        <md-card >
                            <md-card-content  >
                                <h2>Prueba de md-card</h2>
                                <md-list>
                                    <md-item>
                                        <md-item-content>
                                            <div class="md-tile-left inset">

                                            </div>
                                            <div class="md-tile-content">
                                                <h3> Titulo</h3>
                                                <h4> subTitulo</h4>
                                                <p> Descripcion</p>
                                            </div>
                                        </md-item-content>
                                        <md-divider md-inset></md-divider>
                                    </md-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div>
                        <div  class="md-raised md-warn">
                            <span > Mejora con la tecnologia</span>
                        </div>
                    </div>
                </md-content>
                <!-- FIN BLOQUE CONTENT -->

                <div flex=""></div>

            </div>

<!-- FIN CONTENIDO -->

<!-- SIDENAV DERECHO -->
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding="">
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput" ng-model="data" md-autofocus="">
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>

            </md-sidenav>
<!-- FIN SIDENAV DERECHO -->

       </section>
<!-- FIN SECCION -->

    </div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

<script type="text/javascript" src="../node_modules/angular-vidbg/dist/vidBg.js"></script>

<script src="js/index.js"></script>

</body>
</html>
