/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/

/*
.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

.logo-sidebar {
    max-width: auto;
    max-height: 100%;
    -webkit-flex:1 0 auto;
}

.logo-front {
    max-width: 100%;
    height: auto;
    padding-top: 50%;
}

.frase-front {
    max-width: 100%;
    height: auto;
}

.banner-amarillo-container {

    position: relative;
    z-index: 1;
}




.banner-amarillo-img {
    display: inline-flex;
    /*
    max-width: 100%;
    height: auto;
    padding-top: 50%;
     */
    /*  */
    /* opacity: .99 !important; */
    z-index: 2 !important;
}

.centeredText {
    background-image: url("../img/Banneramarillo-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 10px;

    /* display: inline-block; */
    font-family: Roboto;
    font-weight: bold;
    font-stretch: ultra-condensed;
    /*  font-size: 2.4rem; */
    /* position: absolute; */               /* remove from document flow */
    /* left: 30%;  */                    /* center horizontally */
    /*  top: 50%;   */                      /* center vertically */
    /*transform: translate(-30%,-50%) ;  */ /* tweak for precise centering; details:
                                       http://stackoverflow.com/q/36817249 */
    display: flex;
    /* z-index: 5; */
}

.texto_banneramarillo {
    font-family: Roboto;
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-size: 1.8rem
}

.centeredText p {
    margin: 3px;
    /*z-index: 1;*/
}

img {max-width:100%;}

.card_3_etapas {
    margin: 10px;
    padding: 10px;
}

.icon_card_3_etapas {
    color: black !important;
    max-width: 100%;
    height: 100%;
    width: 50px;
    display:block;
    margin:10px auto 10px auto;
    padding: 5px;

}