/* app css stylesheet */

/* Space out content a bit */
body {
  padding-top: 0px; /* 20px */
  padding-bottom: 0px; /* 20px */
  background-color: grey;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  /* padding-left: 15px; */
}

/* Custom page header */
.header {
  padding-bottom: 0px;  /* 20px */
  border-bottom: 1px solid #e5e5e5;
  background-color: #f3E500;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 1080px; // 730px
  }
}
*/
.container {
  max-width: 1080px;
}

.container-narrow > hr {
  margin: 30px 0;
}



.logo-nav {
  background-color: black;
  max-width: 100%;
  height: auto;
  padding: 0px;
  align-content: center;
}

.nav li a {
  align-content: center;
  padding:0 15px;
  line-height: 64px;
}


/* Main marketing message and sign up button */
/*
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
*/

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/*
@media screen and (min-width: 768px) {
  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 0px; /* 30px */
  }

}

*/