<span>
    <input [accept]="accept" type="file" (change)="onNativeInputFileSelect($event)" name="archivo"  #inputFile hidden  />
    <button type="button" md-raised-button (click)="selectFile()"  [disabled]="issend" class="mat-primary">
        <md-icon>file_upload</md-icon>
        <ng-content *ngIf="!fileCount" select=".nofiles"></ng-content>
        <span *ngIf="fileCount">
            <span>{{fileCount}}</span>
            <ng-content select=".selected"></ng-content>
        </span>
    </button>
</span>
