<md-card class="example-card" >
  <md-card-header >
   <!-- <div md-card-avatar class="example-header-image"></div> -->
    <md-card-title>NUEVO PEDIDO DE ANALISIS DE VIDEO</md-card-title>
    <md-card-subtitle> Sube 2 video una lateral y otro posterior</md-card-subtitle>
  </md-card-header>

  <md-card-content  fxLayout="column" >
    <form #formpedido="ngForm" (ngSubmit)="onSubmit(formpedido)" id="idformpedido" fxLayout="column">

      <md-select placeholder="Tipo de pedido" [(ngModel)]="selectedValue" name="tipopedido" fxFlex required >
        <md-option value="" >Seleccione un Tipo de pedido </md-option>
        <md-option *ngFor="let tipopedido of tipospedidos" [value]="tipopedido.id" >
          {{tipopedido.nombre}}
        </md-option>
      </md-select>

      <p  fxLayout="column">

      </p>

      <p fxFlex>
        <md-input-container fxFlexFill>
          <textarea mdInput placeholder="Observaciones" name="observaciones" ngModel fxFlexFill></textarea>
        </md-input-container>
      </p>

      <div fxFlex>

        <div class="" *ngIf="issend">
          
          <div class="upload-file" >
            <div class="progress-bar-container" *ngIf="issend">
              <md-progress-bar
                  class="example-margin"
                  [color]="color"
                  [mode]="mode"
                  [value]="uploader.progress"   
              >
                  
              </md-progress-bar>
            </div>
            Subido {{uploader.progress}}% 
          </div>
        </div>

      </div>

    </form>
  </md-card-content>

  <hr>

<md-card-actions  fxLayout="row">

  <button md-raised-button fxFlex (click)="fileInput1.click()" class="mat-primary" [disabled]="(!(formpedido.valid && isvalid1))">Video 1</button>
  <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
      <input type="file" #fileInput1 ng2FileSelect [uploader]="uploader" 
         (change)="file1ChangeEvent($event)"
      />
  </span>

  <button md-raised-button fxFlex (click)="fileInput2.click()" class="mat-primary" [disabled]="(!(formpedido.valid && isvalid2))">Video 2</button>
  <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
      <input type="file" #fileInput2 ng2FileSelect [uploader]="uploader" 
         (change)="file2ChangeEvent($event)"
      />
  </span>

  <button md-raised-button 
          fxFlex
          type="submit" 
          form="idformpedido"
          class="mat-primary"
          [disabled]="!(uploader?.queue?.length > 1 && formpedido.valid && !issend)"
  >
        Upload
  </button>
 

</md-card-actions>

</md-card>


<!--

<md-card class="example-card" *ngIf="formpedido.valid">
  <md-card-header>
    <md-card-title>VIDEO 1 (requerido)</md-card-title>
    <md-card-subtitle>Jugador visto desde atras  </md-card-subtitle>
  </md-card-header>
  <md-card-content fxLayout="column" >
    <div class="" *ngIf="issend">
      
      <div class="upload-file" >
        <div class="progress-bar-container" *ngIf="issend">
          <md-progress-bar
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="uploader.progress"   
          >
              
          </md-progress-bar>
        </div>
        Subido {{uploader.progress}}% 
      </div>
    </div>
    <label  class="upload-button">
      <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)">
    </label>  

  </md-card-content> 

    <md-card-actions>
      <button md-raised-button 
              type="submit" 
              form="idformpedido"
              (click)="ng2UploadS3()" 
              class="mat-primary"
              [disabled]="!(isvalid && formpedido.valid)"
      >
            Upload
      </button>

  </md-card-actions>

</md-card>   
      isvalid = {{isvalid}}
      form.valid = {{formpedido.valid}}
      issend = {{issend}}

<md-card class="example-card" *ngIf="formpedido.valid">
  <md-card-header>
    <md-card-title>VIDEO 2 (requerido)</md-card-title>
    <md-card-subtitle>Jugador visto desde el lateral  </md-card-subtitle>
  </md-card-header>
  <md-card-content fxLayout="column" >
    <div class="" *ngIf="issend">
      
      <div class="upload-file" >
        <div class="progress-bar-container" *ngIf="issend">
          <md-progress-bar
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="uploader.progress"   
          >
              
          </md-progress-bar>
        </div>
        Subido {{uploader.progress}}% 
      </div>
    </div>
    <label  class="upload-button">
      <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)">
    </label>  

  </md-card-content> 

    <md-card-actions>
      <button md-raised-button 
              type="submit" 
              form="idformpedido"
              (click)="ng2UploadS3()" 
              class="mat-primary"
              [disabled]="!(isvalid && formpedido.valid)"
      >
            Upload
      </button>

  </md-card-actions>

</md-card>    

-->    