/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, .containerX
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    /*justify-content: center; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in  Cross Axis */
    flex: 0 0 auto;
            
    background: white;

}

app-authentication-component {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    /*justify-content: center; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in  Cross Axis */
    flex: 0 0 auto;
            
    background: white;
}
app-signup-component {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    /*justify-content: center; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in  Cross Axis */
    flex: 0 0 auto;
            
    background: white;
}