/*@import '~@angular/material/core/theming/all-theme';
*/
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Import your custom input theme file so you can call the custom-input-theme function
@import 'app/home/home-component/home-component-theme.scss';


// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//$candy-app-primary: mat-palette($mat-amber);
//$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-primary: mat-palette($mat-yellow, A400, A200, A700);
$candy-app-accent:  mat-palette($mat-amber, A200, A100, A400);
// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

$dark-primary: mat-palette($mat-yellow, 500, 300, 700);
$dark-accent:  mat-palette($mat-amber, A400, A200, A700);
$dark-warn:    mat-palette($mat-deep-orange);




// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


//$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin custom-sidenav-theme($theme_dark, $theme_ligth) {
  @include ml-sidenav-custom-theme($theme_dark, $theme_ligth);
}


//@include angular-material-theme($candy-app-theme);

@include angular-material-theme($candy-app-theme);

// Include the theme styles for only specified components.
//@include mat-sidenav-theme($dark-theme);

@include custom-sidenav-theme($dark-theme, $candy-app-theme);

