<md-tab-group>
  <!-- TAB-1 -->
  <md-tab>
    <ng-template md-tab-label>
      VIDEOS ANALIZADOS
    </ng-template>

    <!-- TODO : ITERAR SOBRE ARRAY DE PEDIDOS ANALIZADOS Y MOSTRAR UNA MD-CARD POR PEDIDO -->
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>TITULO</md-card-title>
        <md-card-subtitle>Subtitulo</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/examples/shiba2.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>ACCION-1</button>
        <button md-button>ACCION-2</button>
      </md-card-actions>
    </md-card>


  </md-tab>

  <!-- TAB-2 -->
  <md-tab>
    <ng-template md-tab-label>
      VIDEOS PENDIENTES
    </ng-template>

    <div class="contenedorTab" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutWrap>

      <!-- TODO : ITERAR SOBRE ARRAY DE PEDIDOS PENDIENTES Y MOSTRAR UNA MD-CARD POR PEDIDO -->
      <div *ngFor=" let pedido of pedidos_modelo " fxLayout="column"  fxLayoutAlign="center center"  fxLayoutGap="5px" style="margin-top: 10px; margin-bottom: 10px" >
        <md-card class="example-card" fxFlex style="margin: 5px !important;" >
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Tipo de analisis: {{pedido.get('pedidoTipo').get('nombre')}}</md-card-title>
            <md-card-subtitle>fecha del pedido: {{pedido.get('createdAt')}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="">
          <md-card-content>
              <li>Observaciones del cliente: {{pedido.get('Observaciones')}} </li>
              <li>Video del cliente: </li>
              <div>
                <video id="video" src="{{pedido.get('pedidoVideo').get('url')}}" preload width="480" height="360" controls></video>
              </div>

          </md-card-content>
          <md-card-actions>
            <!--
            <button md-button>ACCION-1</button>
            <button md-button>ACCION-2</button>
            -->
          </md-card-actions>
        </md-card>
      </div>

    </div>



  </md-tab>
</md-tab-group>
