<md-tab-group>
    <md-tab>
      <ng-template md-tab-label>
        SIN ANALIZAR
      </ng-template>
      <md-card class="card-sinanalizar">
        <md-card-header>
          <md-card-title>Videos SIN analizar</md-card-title>
          <md-card-subtitle> </md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-nav-list>
            <h3 md-subheader>Estado: Sin Estado</h3>
            <md-list-item *ngFor="let pedido of (pedidos_modelo | estado:0 )" (click)="onSelect(pedido)">
              <img md-list-avatar class="avatarx2" [src]="pedido.get('pedidoThumbnail')" alt="...">
              <h3 md-line> {{pedido.get('pedidoTipo').get('nombre')}} - {{pedido.get('pedidoEstado').get('nombre')}}</h3>
              <p md-line>{{pedido.get('createdAt') | amCalendar}} </p>
              <p md-line></p>
              <p md-line></p>  
            </md-list-item>

            <md-divider></md-divider>

            <h3 md-subheader>Estado: Recibido video y pendiente de procesar </h3>
            <md-list-item *ngFor="let pedido of (pedidos_modelo | estado:1 )" (click)="onSelect(pedido)">
              <img md-list-avatar class="avatarx2" [src]="pedido.get('pedidoThumbnail')" alt="...">
              <h3 md-line> {{pedido.get('pedidoTipo').get('nombre')}} - {{pedido.get('pedidoEstado').get('nombre')}}</h3>
              <p md-line>{{pedido.get('createdAt') | amCalendar}} </p>
              <p md-line></p>
              <p md-line></p>  
            </md-list-item>
            
            <md-divider></md-divider>

            <h3 md-subheader>Estado: En proceso de analisis</h3>
            <md-list-item *ngFor="let pedido of (pedidos_modelo | estado:2 )" (click)="onSelect(pedido)">
              <img md-list-avatar class="avatarx2" [src]="pedido.get('pedidoThumbnail')" alt="...">
              <h3 md-line> {{pedido.get('pedidoTipo').get('nombre')}} - {{pedido.get('pedidoEstado').get('nombre')}}</h3>
              <p md-line>{{pedido.get('createdAt') | amCalendar}} </p>
              <p md-line></p>
              <p md-line></p>  
            </md-list-item>

          </md-nav-list>

        </md-card-content>
      </md-card>
    </md-tab>


        <md-tab>
      <ng-template md-tab-label>
        ANALIZADOS
      </ng-template>
      <md-card class="card-sinanalizar">
        <md-card-header>
          <md-card-title>Videos analizados</md-card-title>
          <md-card-subtitle> </md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-nav-list>
            <h3 md-subheader>Analizados</h3>
            <md-list-item *ngFor="let pedido of ( pedidos_modelo | analizados )" (click)="onSelect(pedido)">
              <img md-list-avatar class="avatarx2" [src]="pedido.get('pedidoThumbnail')" alt="...">
              <h3 md-line> {{pedido.get('pedidoTipo').get('nombre')}} - {{pedido.get('pedidoEstado').get('nombre')}}</h3>
              <p md-line>{{pedido.get('createdAt') | amCalendar}} </p>
              <p md-line></p>
              <p md-line></p>  
            </md-list-item>
          </md-nav-list>
        </md-card-content>
      </md-card>
    </md-tab>
</md-tab-group>

  
