<md-sidenav-container fullscreen>

  <md-sidenav #sidenav [mode]="mode" class="app-sidenav" [opened]="opened">

    <app-sidebar></app-sidebar>

  </md-sidenav>

  <div style="height:inherit; overflow:scroll;" flex>

    <md-toolbar class="header-toolbar" color="primary">
      <button class="app-icon-button" (click)="sidenav.toggle()" mdTooltip="Menu" mdTooltipPosition="after">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>

      <span class="app-toolbar-filler"> Xot - Videos</span>
      <button md-icon-button (click)="logout()" mdTooltip="Salir" mdTooltipPosition="before">
        <md-icon class="material-icons">
          remove_circle_outline
        </md-icon>
      </button>
    </md-toolbar>
    <md-toolbar></md-toolbar>

    <div class="app-content" layout="column" layout-fill layout-align="top center">

      <div class="routerview">
       <!-- <router-outlet name="content" ></router-outlet> -->
        <router-outlet ></router-outlet>
      </div>

    </div>

  </div>

  <div flex></div>

</md-sidenav-container>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab [routerLink]="['uploadvideo']" mdTooltip="Subir Video" mdTooltipPosition="before">
    <md-icon>cloud_upload</md-icon>
  </button>
</span>
