/*
// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin home-component-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Use mat-color to extract individual colors from a palette as necessary.
  .mat-sidenav-container .app-sidenav {
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
}
*/
/*
.mat-sidenav {
  background-color: #f0f0f0 ;   // color de fondo del contenedor central  
}

.mat-sidenav-content {
  background-color: #f0f0f0 ;   // color de fondo del contenedor central  
}
*/

@mixin ml-sidenav-custom-theme($theme_dark, $theme_ligth) {

  $primary: map-get($theme_dark, primary);
  $warn: map-get($theme_dark, warn);
  $accent: map-get($theme_dark, accent);
  $background: map-get($theme_dark, background);
  $foreground: map-get($theme_dark, foreground);

  $background_ligth: map-get($theme_ligth, background);

  .mat-sidenav {
    //border-bottom: 1px solid mat-color($foreground, divider);
    background-color: mat-color($background, background);
    color: mat-color($foreground, text);
  }

  .mat-sidenav-content {
    background-color: mat-color($background_ligth, background);
    /*
    &:hover, &:active, &:focus {
      background-color: mat-color($background, hover);
    }

    &.selected {
      background-color: mat-color($primary, lighter, 0.5);
      color: mat-color($foreground, text);
    }
    */
  }

  .mat-sidenav .mat-list .mat-list-item {
    color: mat-color($foreground, text);
  }
}