<div *ngFor="let item of pedido">

  <!-- TUS VIDEOS -->
    
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Tu Video</md-card-title>
          <md-card-subtitle>{{item.get('pedidoTipo').get('nombre')}}</md-card-subtitle>
        </md-card-header>
        <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
        <div class="video-1">
          <!-- VIDEO-1 -->
          <vg-player>
              <video #media1
                    [vgMaster]="true"
                    [vgMedia]="media1"
                    [vgHls]="vghls1"
                    [vgDash]="vgdash1"
                    id="TuVideo1"
                    preload="auto"
                    controls
                    crossorigin>
              </video>
          </vg-player>
          <!-- FIN VIDEO-1 -->
        </div>  
        <div class="video-2">
          <!-- VIDEO-2 -->  
          <vg-player>
              <video #media2
                    [vgMedia]="media2"
                    [vgHls]="vghls2"
                    [vgDash]="vgdash2"
                    id="TuVideo2"
                    preload="auto"
                    controls
                    crossorigin>
              </video>
          </vg-player>
         
          <!-- FIN VIDEO-2 -->
        </div>  
        <md-card-content>
          <p>
            subido: {{item.get('createdAt') | amCalendar}}
          </p>  
          <p>
            Observaciones: {{item.get('Observaciones')}}
          </p>
        </md-card-content>
        <md-card-actions>
          <!--
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          -->
        </md-card-actions>
      </md-card>
    


  
  <!-- TU ANALISIS -->
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Tu Analisis - {{item.get('pedidoEstado').get('nombre')}} </md-card-title>
      <md-card-subtitle>{{item.get('pedidoTipo').get('nombre')}}</md-card-subtitle>
    </md-card-header>
    <!-- <img md-card-image src="assets/img/examples/shiba2.jpg"> -->
    <div class="">
      <vg-player>
          <video #mediaanalisis
                [vgMedia]="mediaanalisis"
                [vgHls]="vghls_analisis"
                [vgDash]="vgdash_analisis"
                id="TuAnalisis"
                controls
                crossorigin>
          </video>
      </vg-player>
    </div> 
    <md-card-content>
      <p>
        Disponible desde: {{analisis? (analisis.get('createdAt') | amCalendar) : '' }}
      </p>  
      <p>
        Observaciones: {{analisis? (analisis.get('Observaciones')) : ''}}
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

</div>  
