<div class="authentication-content" fxLayout="column" fxLayoutAling="center center" fxFill>

  <div  fxLayout="row"  fxLayoutAlign="center center" fxLayoutGap="15px" fxFill >
      <div fxFlex="33">
        <p></p>
      </div>

      <md-card fxFlex="33" >
        <md-card-header>
          <md-card-title> <h2>Registrandose en XOT</h2> </md-card-title>
          <md-card-subtitle></md-card-subtitle>
          <img md-card-avatar> 
        </md-card-header>  
        <md-card-content fxLayout="column" fxFill fxLayoutGap="15px" >
          <img md-card-image>
            <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="Nombre" [value]="nombre" type="text" required>
            </md-input-container>
             <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="Apellidos" [value]="apellidos" type="text" required>
            </md-input-container>
            <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="NIF" [value]="nif" type="text" required>
            </md-input-container>
            <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="Direccion" [value]="direccion" type="text" required>
            </md-input-container>
            <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="Email" [value]="username" (input)="username = $event.target.value" type="email" required>
            </md-input-container>
            <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="Password" [value]="password" (input)="password = $event.target.value" type="password" required>
            </md-input-container>
             <md-input-container hintLabel="Es requerido">
              <input mdInput placeholder="Confirmar Password" [value]="password2" (input)="password2 = $event.target.value" type="password" required>
            </md-input-container>
        </md-card-content>
        <md-card-actions>
          
             <div fxLayout="row" fxLayoutAlign="space-arround center">
              <button md-raised-button fxFlex class="mat-primary" [routerLink]="['/auth']" >Salir</button>
              <button md-raised-button fxFlex class="mat-accent" (click)="signup(username, password)"> Grabar</button>
            </div>
           
        </md-card-actions>
      </md-card>
      <div fxFlex="33">
        <p></p>
      </div>
      
  </div> 

</div>
