.authentication-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  /* background: dimgrey; */
  display: flex;
  /*  align-items: stretch; /* align items in Cross Axis */
  /*  align-content: stretch; /* Extra space in  Cross Axis */

}

.authentication-content md-card {
  margin: 20px;
  /* background: orange; */
  padding: 20px;
  border-radius: 0.30em;

}

.authentication-sidenav {
  padding: 10px;
  min-width: 100px;
}

.authentication-content md-checkbox {
  margin: 10px;
}

.authentication-toolbar-filler {
  flex: 1 1 auto;
}

.authentication-toolbar-menu {
  padding: 0 14px 0 14px;
  /* color: black; */
}

.authentication-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;

}

.authentication-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.authentication-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.authentication-input-icon {
  font-size: 16px;
}

.authentication-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.authentication-progress {
  margin: 20px;
}