<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      Datos personales
    </ng-template>

    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/examples/shiba2.jpg">
      <md-card-content>

        <form class="example-form">
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Company (disabled)" disabled value="Google">
          </md-input-container>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="First name">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="Long Last Name That Will Be Truncated">
            </md-input-container></td>
          </tr></table>

          <p>
            <md-input-container class="example-full-width">
              <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
            </md-input-container>
            <md-input-container class="example-full-width">
              <textarea mdInput placeholder="Address 2"></textarea>
            </md-input-container>
          </p>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="State">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
              <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
            </md-input-container></td>
          </tr></table>
        </form>


      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>


  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Pagos
    </ng-template>

    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/examples/shiba2.jpg">
      <md-card-content>

        <md-list>
          <h3 md-subheader>Operaciones</h3>
          <md-list-item *ngFor="let pago of pagos">
            <md-icon md-list-icon>cash</md-icon>
            <h4 md-line>{{pago['attributes']['createdAt'] | amCalendar }}</h4>
            <p md-line> {{pago['attributes']['importe']}} </p>
          </md-list-item>
          <!--
          <md-divider></md-divider>
          <h3 md-subheader>Notes</h3>
          <md-list-item *ngFor="let note of notes">
            <md-icon md-list-icon>note</md-icon>
            <h4 md-line>{{note.name}}</h4>
            <p md-line> {{note.updated | date}} </p>
          </md-list-item>
          -->
        </md-list>

      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>

  </md-tab>
</md-tab-group>
